.body {
  background-image: url("https://i.cbc.ca/1.1279730.1378817737!/httpImage/image.jpg_gen/derivatives/16x9_780/hi-movie-theatre-852.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.nav {
  height: 8vh;
  background-color: white;
  display: flex;
  padding-left: 3vw;
}

.navLinks {
  padding-left: 3vw;
}

.landing {
  color: #D14744;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  font-family: 'Lobster', cursive;
}

.moviesContainer {
  background-color: white;
  height: auto;
  width: 96%;
  padding: 2vw;
  border: 2px solid black;
}

.moviesTitle {
  position: relative;
  bottom: 4vh;
  font-size: 5vh;
  font-family: 'Lobster', cursive;
}

.movieTitle {
  display: flex;
  justify-content: flex-start;
  width: 15vw;
  position: relative;
  right: 5vw;
}

.movieTitle:hover {
  cursor: pointer;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: underline;
  position: relative;
  bottom: 5vh;
  right: 6vw;
}

.movieList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
  align-items: center;
  border: solid black 1px;
  border-radius: .5rem;
}

.director {
  width: 4vw;
  position: relative;
  right: 9vw;
}

.year {
  display: flex;
  position: relative;
  right: 2vw;
}

.rating {
  position: relative;
  left: 6vw;
}

button:hover {
  cursor: pointer;
}

.upDel {
  height: 3vh;
  border-radius: 1rem;
  margin: 1rem;
  position: relative;
  left: 5vw;
}

.addButton {
  position: relative;
  left: 85vw;
  bottom: 10vh;
  height: 2rem;
  border-radius: 1rem;
}

.addMovie {
  height: 70vh;
  background-color: rgba(128, 128, 128, .8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3rem;
}
.backButton {
  height: 7vh;
  width: 5vw;
  font-size: 5vh;
  background-color: #ff4d4d;
  position: relative;
  left: 85vw;
  bottom: 7vh;
}

.newMovie{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  position: relative;
  bottom: 4rem;
}

input {
  height: 1.5rem;
  width: 40vw;
  border-radius: .5rem;
  font-size: 1rem;
}
 #submit {
   width: 15rem;
   height: 2rem;
   margin-top: 1rem;
   border-radius: 1rem;
 }

 .movieContainer {
   height: 100%;
   width: 100%;
   background-image: url("https://www.desktopbackground.org/p/2015/06/18/965732_movie-themed-desktop-wallpapers-mbagusi-com_2190x1369_h.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   bottom: 1rem;
   display: flex;
   justify-content: center;
   align-content: center;
 }

 .movieBorder {
  height: auto;
  width: 50em;
  background-color: rgba(255,255,255, 0.9);
  display: flex; 
  flex-direction: column;
  align-items: center;
 }

 .moviePoster {
   padding-top: 3rem;
   height: 50vh;
   width: auto;
 }

 .single {
   display: flex;
   flex-direction: column;
 }

 .updateButton {
   margin-top: 1rem;
   height: 2rem;
   border-radius: 1rem;
   width: 5rem;
 }
 

